.normal {
    background-color: #1389B2;
}

.fizz {
    background-color: #0CD6A1;
}

.buzz {
    background-color: #FFD166;
}

.fizzbuzz {
    background-color: #F0466F;
}

.quadrato {
    width: calc((100% / 7) - 50px);
    aspect-ratio: 1;
}

.griglia {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

h1 {
    font-size: 120px;
}